li {
    list-style: none;
}

body {
    all: unset;
    font-family: 'Arial', sans-serif;
    overflow-x: hidden;
}

header {
    background-color: #5e38a5;
    display: flex;
    justify-content: space-between;
    align-items: Center;
    position: fixed;
    width: 100%;
}

.header_item {
margin-left: 8px;
margin-right: 8px;
}
.navcontainer {
    display: flex;
    list-style: none;
}

.navitem {
    font-size: 1rem;
    padding: 8px;
    margin: 8px;
}

a {
    transition: 0.15s;
    color: #f1f4f5;
    text-decoration: none;
}
header a:hover{
    color: #281849;
}

.navitem:hover {
    transition: color 0.15s ease-in-out;
    color: #281849;
}

.logo img {
    width: 48px;
    height: auto;
    margin-right: 12px;
    /* Add margin to the right of the logo */
}

.logo_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo_container img {
    margin-top: 128px;
    margin-bottom: 32px;
    width: 50%;
    /* deal with this to make it centered im lazy rn */
}

.main {
    background-color: #fff;
    padding: 16px;
    margin: 16px auto;
    border-radius: 8px;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.15);
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: row;
    margin: auto;
    max-width: 800px;
    width: 90%;
}

.mainsection {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    background-image: url('./background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* Evita que la imagen de fondo se repita */
}

.container {
    max-width: 469px;
    padding: 16px;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.15);
}

.container .fas {
    font-size: 2rem;
    padding-left: 16px;
    padding-right: 16px;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #5e38a5;
    color: #f1f4f5;
    padding: 1rem;
    border: none;
    font-size: 1rem;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
    transition: .15s;
}

footer {
    background-color: #5e38a5;
    color: #f1f4f5;
    align-items: Center;
    text-align: center;
    padding: 8px;
    width: 100%;
}

.social-icons {
    font-size: 1.5rem;
}

.social-item {
    padding: 4px;
}

.features {
    display: grid;
    justify-content: center;
    margin: 16px;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 24px;
    margin-bottom: 24px;
    margin-top: 24px;
}

#archivoEntrada {
    display: none;
}

.main .fas {
    padding-right: 8px;
}

#versionSelector {
    padding: 8px;
    border: 1px solid #5e38a5;
    border-radius: 8px;
}

.logo {
    padding: 0;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container ul li {
    width: 100%;
    text-align: left;
    padding: 8px;
}

img {
    transition: 0.25s;
}

img:hover {
    transform: scale(1.05);
    /* Aumenta el tamaño al hacer hover */
    filter: brightness(1.1);
    /* Ajusta el brillo al hacer hover */
}

.features_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.auto {
    margin: auto;
}

.btn:hover {
    color: white;
    background-color: #281849;
}

.btn a:hover{
    color: white;
}

.donations{
    min-width: 90%;
    margin-bottom: 32px;
}
